<!-- user-access.component.html -->
<!-- <div *ngFor="let file of files">
  {{ file.name }}
</div> -->
  
<!-- <div>
  <h3>{{ title }}</h3>
  <div *ngFor="let file of files">
    {{ file.name }}
  </div>
</div> -->
<!-- user-access.component.html -->
<body>
  

<div class="main">
  <div class="celebration-message">
    <span class="welcome">Welcome</span>
    <span class="username">{{ getWelcomeMessage() }}</span>
    <span class="exclamation">!</span>
  </div>
  

  <h2>Available Multimedia Content</h2>

  <div>
    <button mat-raised-button (click)="filterFiles('audio')">Audio</button>
    <button mat-raised-button (click)="filterFiles('image')">Image</button>
    <button mat-raised-button (click)="filterFiles('video')">Video</button>
    <button mat-raised-button (click)="filterFiles('text')">Text</button>
    <button mat-raised-button (click)="filterFiles('pdf')">PDF</button>
    <button mat-raised-button (click)="toggleMessages()">Messages</button>
  </div>

  <div>
    <mat-badge [matBadge]="newFileTypeCount" matBadgeColor="warn">
      New file type added!
    </mat-badge>
  </div>

  <table *ngIf="filterFiles || showMessages" mat-table [dataSource]="filteredFileItems || messageItems" class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let fileItem">{{ fileItem.name }}</td>
    </ng-container>

    <!-- Content Column -->
    <ng-container matColumnDef="content">
      <th mat-header-cell *matHeaderCellDef>Content</th>
      <td mat-cell *matCellDef="let fileItem">
        <ng-container *ngIf="fileItem.type && fileItem.type.startsWith('text/') && fileItem.length===0">
          <div class="text-content-container">
          <pre id="file-content">{{ fileItem.content }}</pre>
          </div>
        </ng-container>
        <ng-container *ngIf="fileItem.type && fileItem.type.startsWith('image/')">
          <!-- Add specific content for image type -->
          <img [src]="fileItem.content" alt="{{ fileItem.name }}" style="width: 100px;" />
        </ng-container>
        <ng-container *ngIf="fileItem.type && fileItem.type.startsWith('audio/')">
          <!-- Add specific content for audio type -->
          <audio controls>
            <source [src]="fileItem.content" type="{{ fileItem.type }}">
            Your browser does not support the audio tag.
          </audio>
        </ng-container>
        
        
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let fileItem">
         
        <mat-icon (click)="deleteFile(fileItem.id)">delete</mat-icon>
        <mat-icon (click)="openFileContentDialog(fileItem)">visibility</mat-icon>
        
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['name', 'content', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name', 'content', 'actions']"></tr>
  </table>



    <!-- Display messages -->
    <div *ngIf="showMessages && toggleMessages">
      <div *ngFor="let messageItem of messageItems">
        <p>{{ messageItem.content }}</p>
        <small>Posted by User {{ messageItem.userId }} on {{ messageItem.created_at }}</small>
      </div>
    </div>
  
    <div *ngIf="showMessages">
      <table mat-table [dataSource]="messageItems">
        <!-- Define columns for the table -->
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let messageItem"> {{ messageItem.userId }} </td>
        </ng-container>
    
        <ng-container matColumnDef="content">
          <th mat-header-cell *matHeaderCellDef> Content </th>
          <td mat-cell *matCellDef="let messageItem"> {{ messageItem.content.slice(0, 50) }}... </td>
        </ng-container>
    
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let fileItem">
            <!-- Add any actions you need, for example, a delete icon -->
            <button mat-icon-button (click)="deleteFile(fileItem.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
    
        <!-- Set the column definitions in the mat-header-row and mat-row elements -->
        <mat-header-row *matHeaderRowDef="['senderName', 'preview', 'actions']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['senderName', 'preview', 'actions'];"></mat-row>
      </table>
    </div>

   <!-- Post new message -->
  <!-- <div>
    <label for="message-input">Write a message:</label>
    <textarea id="message-input" [(ngModel)]="newMessageContent" placeholder="Type your message..."></textarea>
    <button mat-raised-button color="primary" (click)="postMessage(newMessageContent)">Post Message</button>
  </div> -->
  
</div>
</body>