<!-- user-access.component.html -->
<!-- <div *ngFor="let file of files">
  {{ file.name }}
</div> -->
  
<!-- <div>
  <h3>{{ title }}</h3>
  <div *ngFor="let file of files">
    {{ file.name }}
  </div>
</div> -->
<div class="main">
  <div *ngFor="let fileItem of fileItems">
    <div>
      <p id="file-name">{{ fileItem.name }}</p>
      <ng-container *ngIf="fileItem.type && fileItem.type.startsWith('text/')">
        <pre id="file-content">{{ fileItem.content }}</pre>
      </ng-container>
      <!-- Add other containers for different file types -->

      <button *ngIf="fileItem" (click)="deleteFile(fileItem.id)">Delete</button>
    </div>
  </div>

    <!-- Display messages -->
  <div *ngFor="let messageItem of messageItems">
    <p>{{ messageItem.content }}</p>
    <small>Posted by User {{ messageItem.userId }} on {{ messageItem.created_at }}</small>
  </div>

   <!-- Post new message -->
  <div>
    <label for="message-input">Write a message:</label>
    <textarea id="message-input" [(ngModel)]="newMessageContent" placeholder="Type your message..."></textarea>
    <button (click)="postMessage(newMessageContent)">Post Message</button>
  </div>
  
</div>