<div class="body">
    <div class="main">
        <app-navbar></app-navbar>
        <div class="text">
            <h3>Online Learning Anytime,Anywhere, Anyhow!</h3>
            <h1>Discover Your Roots</h1>
            <p>There are many variations of passages of books available, but the majority have
                suffered alteration in some form, by injected humor, or randomized words.
            </p>

            <div class="buttons">
                <button class="btn">READ MORE</button>
                <button class="btn1">EXPLORE</button>
            </div>
        </div>
    </div>
    <div class="span"></div>
</div>
