<div class="gallery">
    <div class="content text-center">
        <h3>
            CHECK OUT THE NEW RELEASES
        </h3>
        <p>
           The standard chunk of Lorem ipsum used since the 1500s is reproduced below for those interested. 
        </p>

        <div class="buttons text-center">
            <button type="button" class="btn btn-outline-primary">ALL RELEASES</button>
            <button type="button" class="btn btn-outline-secondary">ADULTS</button>
            <button type="button" class="btn btn-outline-success">KIDS & TEENS</button>
            <button type="button" class="btn btn-outline-danger">VIDEO</button>
            <button type="button" class="btn btn-outline-warning">AUDIO</button>
            <button type="button" class="btn btn-outline-info">BOOKS</button>
            <button type="button" class="btn btn-outline-light">MAGAZINES</button>
        </div>

    </div>

    <div class="container text-center">
        <div class="row row-cols-auto">
          <div class="col">
            <img src="../../assets/novel1.jpg" alt="">
          </div>
          <div class="col">
            <img src="../../assets/novel2.jpg" alt="">
          </div>
          <div class="col">
            <img src="../../assets/novel3.jpg" alt="">
          </div>
          <div class="col">
            <img src="../../assets/novel4.jpg" alt="">
          </div>
          <div class="col">
            <img src="../../assets/Bible.jpg" alt="">
          </div>
          <div class="col">
            <img src="../../assets/novel5.jpg" alt="">
          </div>
          <div class="col">
            <img src="../../assets/novel6.jpg" alt="">
          </div>
          <div class="col">
            <img src="../../assets/novel7.jpg" alt="">
          </div>
          <div class="col">
            <img src="../../assets/Bible.jpg" alt="">
          </div>
          <div class="col">
            <img src="../../assets/novel5.jpg" alt="">
          </div>
          <div class="col">
            <img src="../../assets/novel6.jpg" alt="">
          </div>
          <div class="col">
            <img src="../../assets/novel7.jpg" alt="">
          </div>
        </div>
      </div>
</div>
