<!-- file-content-dialog.component.html -->

<div class="dialog-content">
    <h2 class="dialog-title">File Content</h2>
  
    <!-- Text content -->
    <div *ngIf="data.fileType.startsWith('text/')">
      <pre class="dialog-content-text">{{ data.content }}</pre>
    </div>
  
    <!-- Image content -->
    <div *ngIf="data.fileType.startsWith('image/')">
      <img class="dialog-content-image" [src]="data.content" alt="Image">
    </div>
  
    <!-- Video content -->
    <div *ngIf="data.fileType.startsWith('video/')">
      <video class="dialog-content-video" controls>
        <source [src]="data.content" type="{{ data.fileType }}">
       
      </video>
    </div>
  
    <!-- Audio content -->
  <div *ngIf="data.fileType.startsWith('audio/')">
    <audio class="dialog-content-audio" controls>
      <source [src]="data.content" type="{{ data.fileType }}">
      
    </audio>
  </div>

  <!-- PDF content -->
  <div *ngIf="data.fileType === 'application/pdf'">
    <iframe class="dialog-content-pdf" [src]="data.content" frameborder="0" width="100%" height="600px"></iframe>
  </div>
  
    <div class="dialog-footer">
      <button mat-button mat-dialog-close>Close</button>
    </div>
  </div>
  